<div class="container-fluid">

  <header>
    <h1>Ramazon</h1>
    <svg enable-background="new 0 0 64 64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
      <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="32" x2="32" y1="63.036" y2=".75">
        <stop offset="0" stop-color="#9f2fff"></stop>
        <stop offset="1" stop-color="#0bb1d3"></stop>
      </linearGradient>
      <path fill="url(#SVGID_1_)"
        d="m49 23c-2.206 0-4 1.794-4 4v12c0 2.206 1.794 4 4 4s4-1.794 4-4v-12c0-2.206-1.794-4-4-4zm2 16c0 1.103-.897 2-2 2s-2-.897-2-2v-12c0-1.103.897-2 2-2s2 .897 2 2zm7.92-33.187c-2.989-1.158-7.033-2.898-9.32-4.613l-.6-.45-.6.45c-2.287 1.715-6.331 3.455-9.32 4.612-2.235.867-3.745 2.857-4.022 5.188h-30.058c-2.206 0-4 1.794-4 4v42c0 1.103.897 2 2 2h34.704c.51.735 1.26 1.299 2.167 1.547l9.129 2.489 9.131-2.489c1.689-.462 2.869-2.007 2.869-3.758 0-1.426-.765-2.706-2-3.393v-2.581c1.161-.414 2-1.514 2-2.816v-31.585l.129-.129c1.207-1.206 1.871-2.81 1.871-4.516 0-2.658-1.602-4.996-4.08-5.956zm.08 35.187c-1.103 0-2-.897-2-2v-12c0-1.103.897-2 2-2zm-4-14v12c0 2.206 1.794 4 4 4v2h-20v-2c2.206 0 4-1.794 4-4v-12c0-2.206-1.794-4-4-4v-2h20v2c-2.206 0-4 1.794-4 4zm-16-2c1.103 0 2 .897 2 2v12c0 1.103-.897 2-2 2zm0 25.816v2.184h-32v-24h30v19c0 1.302.839 2.402 2 2.816zm2 .184h16v2h-16zm18-32h-20v-2h20zm-54-6h30.119c.24 1.237.841 2.374 1.752 3.285l.129.129v6.586h-34v-8c0-1.103.897-2 2-2zm-2 44v-32h34v2h-32v28h32.441c-.28.542-.441 1.15-.441 1.789 0 .072.014.14.018.211zm54.604 1.617-8.604 2.347-8.604-2.347c-.822-.224-1.396-.976-1.396-1.828 0-.723.401-1.372 1.047-1.694l.189-.095h17.527l.189.095c.647.323 1.048.971 1.048 1.694 0 .852-.574 1.604-1.396 1.828zm.396-9.617h-18c-.552 0-1-.448-1-1v-1h20v1c0 .552-.448 1-1 1zm1.715-34.129-.129.129h-21.172l-.129-.129c-.829-.829-1.285-1.931-1.285-3.102 0-1.825 1.101-3.431 2.803-4.091 2.867-1.111 6.684-2.749 9.197-4.451 2.513 1.702 6.33 3.34 9.197 4.451 1.702.659 2.803 2.265 2.803 4.091 0 1.171-.456 2.273-1.285 3.102zm-49.715 6.129c1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3 1.346 3 3 3zm0-4c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm10 4c1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3 1.346 3 3 3zm0-4c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm10 4c1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3 1.346 3 3 3zm0-4c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm2 18.819h-3.485l-1.068-3.141c-.138-.406-.519-.678-.947-.678s-.809.272-.946.678l-1.068 3.141h-3.486c-.438 0-.823.284-.954.701s.024.871.384 1.12l2.78 1.932-1.056 3.105c-.14.409 0 .861.345 1.121.344.259.816.268 1.172.022l2.829-1.964 2.829 1.964c.172.12.371.18.57.18.212 0 .424-.067.602-.201.345-.26.484-.712.345-1.121l-1.056-3.105 2.78-1.932c.359-.249.515-.703.384-1.12s-.517-.702-.954-.702zm-3.97 2.54c-.366.255-.521.721-.376 1.144l.32.943-.904-.628c-.172-.119-.371-.179-.57-.179s-.398.06-.57.179l-.904.628.32-.943c.145-.423-.01-.889-.376-1.144l-.777-.54h1.009c.428 0 .809-.272.946-.678l.353-1.035.353 1.035c.138.405.519.678.946.678h1.009zm-3.119 8.645c-.132.013-.404.003-.623 0l-.288-.004c-4.411 0-8-3.589-8-8 0-2.422 1.075-4.679 2.948-6.192.341-.275.463-.739.302-1.146-.16-.407-.574-.656-1.003-.63-5.185.38-9.247 4.758-9.247 9.968 0 5.514 4.486 10 10 10 2.426 0 4.969-.854 6.636-2.229.339-.278.456-.745.289-1.15-.165-.405-.564-.659-1.014-.617zm-5.911 1.996c-4.411 0-8-3.589-8-8 0-3.101 1.798-5.834 4.427-7.154-.925 1.532-1.427 3.304-1.427 5.154 0 4.631 3.165 8.537 7.445 9.669-.79.215-1.624.331-2.445.331z">
      </path>
    </svg>
    <h1>Muborak!</h1>
  </header>

  <section class="section">
    <h4 class="section-title">Saharlik Duosi</h4>
    <p class="section-text">Navaytu an asuvma sovma shahro ramazona minal fajri ilal mag'ribi, xolisan lillahi ta'aalaa,
      Allohu akbar.</p>
  </section>

  <section class="pb-5">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="item" 
        [class]="data.month === month && data.day < date ? 'd-none' : '' " 
        *ngFor="let data of datas">
        <div class="content border">
          <span class="index" 
            [class]="data.month === month && data.day < date ? '' : data.day === date ? '' : '' ">
            {{ data.id }} - Kun
          </span>
          <span class="day">{{ data.day }}</span>
          <span class="dayName">{{ data.dayName }}</span>
          <span class="fajr">{{ data.fajr }}</span>
          <span class="maghrib">{{ data.maghrib }}</span>
        </div>

      </div>
    </div>
  </section>

  <section class="section footer-section">
    <h4 class="section-title">iftorlik Duosi</h4>
    <p class="section-text">allohumma laka sumtu va bika amantu va alayka tavakkaltu va ala rizqika aftartu. fag'firli,
      ya g'offaru ma qoddamtu va ma axxortu.</p>
  </section>

  <footer>
    <a href="https://t.me/khojiakbar_shukurov">© Hojiakbar Shukurov 2021</a>
  </footer>
</div>